@model IEnumerable<nmct.ba.cashlessproject.model.Register>

@{
    ViewBag.Title = "Kassas";
}

<h2>@ViewBag.OrganisationName</h2>

<p>
    @Html.ActionLink("Voeg nieuwe kassa toe", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegisterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Device)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiresDate)
        </th>
        <th>
            @Html.DisplayName("Organisatie")
        </th>
        <th></th>
    </tr>
    @{
      var counter = 0;
    }
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Device)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiresDate)
        </td>
        <td>
            
            @if(ViewBag.OrganisationNames[counter].OrganisationName == null){ @("-")}else{ @Html.ActionLink((string)ViewBag.OrganisationNames[counter].OrganisationName, "Index", new { id = ViewBag.OrganisationNames[counter].ID })}
            @*@if(ViewBag.OrganisationNames[counter].OrganisationName == null){ @("-")}else{ @ViewBag.OrganisationNames[counter].OrganisationName}*@
            @*@if (ViewBag.OrganisationNames[counter].OrganisationName == null)
            { @("-")}
            else
            { @ViewBag.OrganisationNames[counter].OrganisationName}*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @if (ViewBag.OrganisationNames[counter].OrganisationName == null)
            { @Html.ActionLink("Toewijzen", "AddToOrganisation", new { id = item.Id })}
            else
            { @Html.ActionLink("Verwijder toewijzing", "RemoveOrganisation", new { id = item.Id })}
            @*@Html.ActionLink("Toewijzen", "RemoveOrganisation", new { id = item.Id })*@
        </td>
    </tr>
    counter++;
}

</table>
@{
    if (ViewBag.IsDetail)
    {
        @Html.ActionLink("Keer terug naar het overzicht", "Index", new { id = "" }, null);
    }
    else
    {
        @Html.ActionLink("Toon enkel niet toegewezen kassas", "Index", new { id = -1 });
    }
}